:root {
    --white: #ffff;
    --font-white: #ecf2ff;
    --black: #0000;
    --gray: #808080;
    --gray-circle: #ecf2ff;
    --dark-gray: #4c4c4c;
    --blue: #2476fe;
    --dark-blue: #20335b;
    --btn-blue: #2476fe;
    --font-size-1: 1rem;
    --font-size-2: 2rem;
    --font-size-3: 4rem;
    --bg-gray: #f9fafe;
    --gray-text: #677688;
    --gray-text-2: #677787;
    --social-bg-gray: #677688;
    --form-bg-blue: #20335b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'poppins', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

header {
    height: 200px;
}

section {
    margin: 8rem auto;
}

.subtext {
    color: var(--gray);
}

.btn {
    font-size: .8rem;
    color: var(--white);
    /* margin-right: 1rem; */
    padding: .7rem .4rem;
    border-radius: 25px;
    background-color: var(--blue);
    max-width: 140px;
    text-align: center;
}

.btn a {
    color: var(--font-white);
}

.sketch {
    background-color: lightgreen;
    padding: .3rem .5rem;
    border-radius: 25px;
    margin-left: .2rem;
    font-size: .8rem;
}

.we-are-hiring {
    font-size: .8rem;
    margin-left: .8rem;
    padding: .2rem .4rem;
    border-radius: 5px;
    background-color: var(--blue);
}


/* 
arrow 
<i class="fa-light fa-angle-right"></i>
<i class="fa-sharp fa-solid fa-angle-right"></i>

play button
<i class="fa-solid fa-play"></i>


google 
<i class="fa-brands fa-google"></i>

facebook
<i class="fa-brands fa-facebook-f"></i>

twitter 
<i class="fa-brands fa-twitter"></i>

github
<i class="fa-brands fa-github"></i>


flags

USA- 
https://icons8.com/icon/fIgZUHgwc76e/usa

ENGLAND-
https://icons8.com/icon/t3NE3BsOAQwq/great-britain

RUSSIA- 

https://icons8.com/icon/dHLUcDM_MwLT/russian-federation

*/