/* Desktop sizing */

.container {
    max-width: 1020px;
    margin: auto;
}

@media (max-width: 1084px) {
    container {
        max-width: 900;
    }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}

@media (min-width: 720px) and (max-width: 1023px) {
    /* .container {
        max-width: 600px;
    } */
    .grid-big {
        display: grid;
        gap: 2rem;
        grid-template-columns: auto;
        grid-auto-flow: column;
        margin: auto;
    }
    .hero-title {
        margin-top: 7rem;
    }
    .hero-title h1 {
        text-align: center;
        /* margin: auto; */
    }
    .hero-title h1,
    .subtext p {
        margin: 1rem 0;
        line-height: 1.3;
    }
    .title-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title-links a {
        align-content: center;
        /* justify-content: left; */
    }
    .title-text {
        text-align: center;
    }
    .learn-btn {
        margin-left: 2rem;
    }
    .grid-services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 120px;
        /* grid-gap: 10px; */
        position: relative;
    }
    .google {
        /* grid-column: 1 / 2;
        grid-row: 1 / 2; */
        top: 50px;
        right: 420px;
    }
    .atlassian {
        /* grid-column: 2 / 3;
        grid-row: 2 / 3; */
        top: 40px;
        right: 270px;
    }
    .asana {
        /* grid-column: 3 / 4;
        grid-row: 3 / 4; */
        top: 60px;
        right: 75px;
    }
    .paypal {
        /* grid-column: 1 / 2;
        grid-row: 3 / 4; */
        top: 255px;
        right: 440px;
    }
    .weave {
        /* grid-column: 2 / 3;
        grid-row: 4 / 5; */
        top: 257px;
        right: 210px;
    }
    .google-ads {
        /* grid-column: 3 / 4;
        grid-row: 5 / 6; */
        top: 370px;
        right: 350px;
    }
    .calendar {
        /* grid-column: 2 / 3;
        grid-row: 6 / 7; */
        top: 400px;
        right: 155px;
    }
    /* hubspot with model */
    .hubspot {
        display: flex;
    }
    .hub-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .model-photo {
        background-image: url(/assets/people/woman_three.jpg);
        background-repeat: no-repeat;
        width: 400px;
        height: 400px;
        background-size: contain;
        position: relative;
        left: 25px;
    }
    .hubspot-desc {
        max-width: 470px;
        /* font-size: var(--font-size-1); */
        line-height: 2;
        /* margin-left: auto; */
        margin: auto;
        margin-top: 7rem;
        text-align: center;
    }
    .hubspot-desc h5 {
        margin-top: 3rem;
        font-size: 1.3rem;
    }
    .hubspot-desc img {
        margin: 0;
        margin-bottom: 1.5rem;
        /* display: flex;
        align-content: center;
        justify-content: center; */
        max-width: 100px;
    }
    .bg-dots {
        background-image: url(/assets/abstract/dots.svg);
        position: relative;
        background-repeat: no-repeat;
        top: 100px;
        right: 50px;
        width: 200px;
        height: 350px;
        z-index: -1;
    }
    /* video area */
    .video {
        margin: 5rem auto;
        background-image: url(/assets/banners/banner_two.jpg);
        height: 470px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .video .play>i {
        position: relative;
        top: 107px;
        left: 330px;
        background-color: white;
        border: 1px solid white;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
        padding: 1.5rem;
        padding-left: 1.8rem;
        font-size: 1.5rem;
    }
    .customers h3 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
    }
    .customer-logos {
        display: flex;
        justify-content: center;
        /* align-content: space-between; */
    }
    .cl-logo-item {
        margin: 0 2rem;
        /* margin-right: 2rem; */
    }
    .cl-logo-item:nth-child(5) {
        margin: 0;
    }
    .cl-logo-item img {
        width: 75px;
    }
}

@media (min-width: 0) and (max-width: 719px) {
    .customers h3 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
    }
    .customer-logos {
        display: flex;
        justify-content: center;
        /* align-content: space-between; */
    }
    .cl-logo-item {
        margin: 1rem;
        margin-right: 1rem;
    }
    .cl-logo-item:nth-child(5) {
        margin: 1rem;
    }
    .cl-logo-item img {
        width: 75px;
    }
}


/* 
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
} */


/* ipad/tablet */


/* mobile */


/* @media (max-width: 375px) {
    .container {
        max-width: 300px;
    }
} */