/* .company-logo>img {
    width: 100px;
} */

.nav-bar {
    display: flex;
    flex-direction: row;
}

.nav-list>ul {
    display: flex;
    flex-direction: row;
}

.nav-list a {
    padding-right: .5rem;
}

.company-logo {
    margin-right: auto;
}

.buy-now {
    padding: .5rem 1rem;
    background-color: var(--blue);
    border-radius: 25px;
}

.main-header {
    height: 500px;
}


/* .hero-section {
    display: flex;
    align-items: center;
} */


/* header services */


/* .header-services {
    margin-left: auto;
} */

.hero-wrapper .header-services .service-logo .google {
    /* width: 50px;
    padding: 1rem;
    border-radius: 25%; */
    /* position: relative; */
    top: 20px;
    left: 20px;
}

.hero-wrapper .header-services .service-logo .atlassian {
    /* width: 60px; */
    /* position: relative; */
    top: 20px;
    left: 140px;
}

.hero-wrapper .header-services .service-logo .asana {
    /* width: 60px; */
    /* position: relative; */
    top: 25px;
    right: 0;
}

.hero-wrapper .header-services .service-logo .paypal {
    /* width: 65px; */
    /* position: relative; */
    top: 105px;
    /* right: 510px; */
}

.hero-wrapper .header-services .service-logo .weave {
    /* width: 60px; */
    /* position: relative; */
    top: 180px;
    right: 140px;
}

.hero-wrapper .header-services .service-logo .google-ads {
    /* width: 30px; */
    /* position: relative; */
    top: 300px;
    right: 95px;
}

.hero-wrapper .header-services .service-logo .calendar {
    /* width: 50px; */
    /* position: relative; */
    top: 320px;
    right: 0;
}

.hero-wrapper .header-services .service-logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    width: 66px;
    border-radius: 50%;
    box-shadow: 0 3px 10px 2px #e2e2e2;
}

.header-services .service-logo {
    height: 90px;
    width: 90px;
}

.service-logo img {
    width: 50%;
    height: 50%;
    /* box-shadow: 0px 0px 5px 5px lightgray;
    border-radius: 50%; */
    /* padding: 2rem; */
    /* padding: .5rem; */
}

.hero-title {
    margin-top: 7rem;
}

.hero-title h1 {
    text-align: left;
}

.hero-title h1,
.subtext p {
    margin: 1rem 0;
    line-height: 1.3;
}

.title-links {
    display: flex;
    align-items: center;
}

.title-links a {
    align-content: center;
}

.title-text {
    text-align: center;
}

.learn-btn {
    margin-left: 2rem;
}


/* benefits */

.benefit-title {
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 5rem;
}

.benefit-title h2 {
    margin-bottom: .7rem;
}

.benefit-grid {
    display: grid;
    grid-template-areas: "item1 item2 item3 item4";
    margin: auto;
    /* gap: 2rem; */
    max-width: 950px;
    justify-items: center;
}

.benefit-card {
    line-height: 1.5;
    /* border: 1px solid black; */
    padding: 1.2rem;
    box-shadow: 2px 3px 7px 5px lightgray;
}

.benefit-card>h5 {
    margin: .5rem;
}

.responsive {
    grid-area: item1;
}

.customizable {
    grid-area: item2;
}

.premium {
    grid-area: item3;
}

.documentation {
    grid-area: item4;
}

.benefit-card {
    max-width: 200px;
}

.benefit-card>img {
    width: 55px;
}

.learn-btn a {
    color: var(--blue);
}


/* started shit lol*/

.started {
    display: flex;
}

.started-title {
    text-align: left;
    margin: auto;
}

.started-title h1 {
    max-width: 400px;
    margin-bottom: 2rem;
    font-weight: 200;
    font-size: 1.8rem;
}

.started-img>img {
    max-width: 500px;
}


/* why area */

.why-title {
    text-align: center;
    max-width: 700px;
    margin: 4rem auto;
}

.why-title h2 {
    margin-bottom: 1rem;
}

.why-title p {
    line-height: 1.5rem;
}

.why-dots {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    /* margin-bottom: 3rem; */
}

.why-dots .why-item:first-child>.dot-gray::before,
.why-dots .why-item:last-child>.dot-gray::after {
    content: unset;
}

.why-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.why-item .dot-gray {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

.why-item .dot-gray::before {
    align-self: center;
    grid-column: 1/span 1;
}

.why-item .dot-gray::after {
    align-self: center;
    grid-column: 3/span 1;
}

.why-item .dot-gray::before,
.why-item .dot-gray::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: lightgray;
}

.dot-gray {
    display: flex;
    justify-content: center;
    align-content: center;
}

.dot-blue {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 15px;
    margin: 0 .5rem;
    border-radius: 50%;
}

.why-item .dot-gray .dot-blue {
    grid-column: 2/span 1;
    width: 50px;
    height: 50px;
    background-color: #ECF2FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    background-color: var(--blue);
    border-radius: 50%;
    padding: 3px;
    width: 1px;
}

.why-item>span {
    text-align: center;
}

.video {
    margin: 5rem auto;
    background-image: url(/assets/banners/banner_two.jpg);
    height: 470px;
    background-size: cover;
    background-repeat: no-repeat;
}

.video .play>i {
    position: relative;
    top: 207px;
    left: 550px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    padding-left: 1.8rem;
    font-size: 1.5rem;
}


/* hubspot model area */

.hub-flex {
    display: flex;
    align-items: center;
}

.model-photo {
    background-image: url(/assets/people/woman_three.jpg);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    background-size: contain;
    position: relative;
    left: 150px;
}

.bg-dots {
    background-image: url(/assets/abstract/dots.svg);
    position: relative;
    background-repeat: no-repeat;
    top: 100px;
    right: 50px;
    width: 200px;
    height: 350px;
    z-index: -1;
}


/* .model-photo img,
.bg-dots img {
    width: 400px;
} */


/* .bg-dots img {
    width: 400px;
    position: relative;
    top: -50px;
} */

.hubspot-desc {
    max-width: 470px;
    /* font-size: var(--font-size-1); */
    line-height: 2;
    margin-left: auto;
}

.hubspot-desc h5 {
    margin-top: 3rem;
}

.hubspot-desc img {
    max-width: 100px;
}


/* trusted area */

.customers h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.customer-logos {
    display: flex;
    justify-content: center;
    /* align-content: space-between; */
}

.cl-logo-item {
    margin: 0 4rem;
    /* margin-right: 2rem; */
}

.cl-logo-item:nth-child(5) {
    margin: 0;
}

.cl-logo-item img {
    width: 125px;
}


/* pricing area */

.pricing .container {
    max-width: 950px;
}

.pricing .title {
    text-align: center;
    margin-bottom: 3rem;
    line-height: 2;
}

.pricing .title h3 {
    font-size: 2rem;
}

.pricing-card h2 {
    border-bottom: 2px solid lightgray;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    /* border-width: 100; */
}

.big-price {
    font-size: 3rem;
}

.pricing-card>.btn {
    margin-top: 3rem;
}

.no-card {
    margin-top: 1rem;
}

.pricing-flex {
    display: flex;
    justify-content: center
}

.pg-item {
    max-width: 250px;
}

.pg-item img {
    width: 50px;
}

.pricing-area {
    display: flex;
    max-width: 350px;
    margin: auto;
}

.pricing-card {
    max-width: 400px;
    line-height: 1.5;
    box-shadow: 3px 0 10px 0px lightgray;
    padding: 2rem;
}

.pricing-grid {
    display: grid;
    grid-template-areas: "grid1 grid2""grid3 grid4";
    gap: 2rem;
    align-content: center;
    line-height: 1.5;
}

.pricing-grid h5 {
    font-size: 1rem;
    margin: .8rem 0;
}

.grid-comp {
    grid-area: grid1;
}

.grid-images {
    grid-area: grid2;
}

.grid-cancel {
    grid-area: grid3;
}

.grid-money {
    grid-area: grid4;
}


/* .grid-comp, .grid-images, .grid-cancel, .grid-money  */


/* hire us area */

.hire-us {
    margin: 0 auto;
    background-color: var(--dark-blue);
}

.hire-us h4 {
    margin: 1rem auto;
}

.hire-us p {
    margin-bottom: 2rem;
}

.hire-us-text {
    margin: auto 4rem;
}


/* carousel for faces */

.carousel {
    width: 100%;
    max-width: 350px;
    margin: 2rem auto;
    position: relative;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
}

.carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    position: relative;
}

.quote {
    font-style: italic;
    margin-bottom: 20px;
    text-align: left;
}

.quote-person {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.name,
.job-title {
    font-size: .9rem;
    font-weight: bold;
    margin: 0;
}

.carousel-faces {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.face {
    margin: 0 10px;
}

.face img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid #fff; */
}

.active-face img {
    width: 50px;
    height: 50px;
    /* border: 3px solid #fff; */
}

.carousel-slide.active-slide {
    z-index: 1;
    display: block;
}

.face.active-face {
    font-size: 1.2em;
}

.hire-flex {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    margin-bottom: 2rem;
}

hr {
    width: 200px;
    color: var(--gray);
}

.form {
    /* max-width: 500px; */
    text-align: left;
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 10px;
}

.form input,
select,
textarea {
    margin: 0.5rem;
    border-radius: 3px;
    border: none;
    border: 1px solid lightgray;
    /* padding: .5rem; */
}

input {
    /* height: 2rem; */
    /* width: 175px; */
    /* padding: 1rem; */
}

textarea {
    resize: none;
}

.option {
    height: 2rem;
    width: 175px;
}

.checkbox-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    /* font-size: .8rem; */
}

.checkbox-info label,
a {
    font-size: .8rem;
}

.form-links {
    margin-bottom: 1rem;
}

.form-btn {
    margin: auto;
}

.footer-main>hr {
    width: auto;
    margin-bottom: 2rem;
}

.footer-top {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 3rem 0;
    line-height: 2;
    /* margin-top: -6rem; */
}

.footer-top h5 {
    font-size: 1.2rem;
}

.company-item li:nth-child(2) {
    color: blue;
}

.middle-footer {
    display: flex;
    margin-bottom: 2rem;
}

.map {
    margin-right: auto;
}

.map a {
    color: gray;
}

.bottom-footer {
    text-align: center;
    font-size: .8rem;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 800px;
}

.social a {
    color: gray;
}

.social i {
    background-color: lightgray;
    padding: .5rem;
    border-radius: 5px;
    color: black;
}

.social select {
    padding: .4rem;
    background-color: lightgray;
}