/* .company-logo>img {
    width: 100px;
} */

.nav-bar {
    display: flex;
    flex-direction: row;
}

.nav-list>ul {
    display: flex;
    flex-direction: row;
}

.nav-list a {
    padding-right: .5rem;
}

.company-logo {
    margin-right: auto;
}

.buy-now {
    padding: .5rem 1rem;
    background-color: var(--blue);
    border-radius: 25px;
}

.main-header {
    height: 500px;
}

.hero-section {
    display: flex;
    align-items: center;
}

.title-links {
    display: flex;
    align-items: center;
}

.title-links a {
    align-content: center;
}

.title-text {
    text-align: center;
}

.benefit-grid {
    display: grid;
    grid-template-areas: "item1 item2 item3 item4";
}

.responsive {
    grid-area: item1;
}

.customizable {
    grid-area: item2;
}

.premium {
    grid-area: item3;
}

.documentation {
    grid-area: item4;
}

.benefit-card {
    max-width: 200px;
}

.benefit-card>img {
    width: 55px;
}

.why-title {
    text-align: center;
    max-width: 800px;
    margin: 3rem auto;
}


/* under this code  */

.why-dots {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    /* margin-bottom: 3rem; */
}

.why-dots .why-item:first-child>.dot-gray::before,
.why-dots .why-item:last-child>.dot-gray::after {
    content: unset;
}

.why-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.why-item .dot-gray {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

.why-item .dot-gray::before {
    align-self: center;
    grid-column: 1/span 1;
}

.why-item .dot-gray::after {
    align-self: center;
    grid-column: 3/span 1;
}

.why-item .dot-gray::before,
.why-item .dot-gray::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: lightgray;
}

.dot-gray {
    display: flex;
    justify-content: center;
    align-content: center;
}

.dot-blue {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 15px;
    margin: 0 .5rem;
    border-radius: 50%;
}

.why-item .dot-gray .dot-blue {
    grid-column: 2/span 1;
    width: 50px;
    height: 50px;
    background-color: #ECF2FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    background-color: var(--blue);
    border-radius: 50%;
    padding: 3px;
    width: 1px;
}

.why-item>span {
    text-align: center;
}

.model-photo img {
    width: 400px;
}

.customer-logos {
    display: flex;
}

.cl-logo-item {
    margin-right: 2rem;
}

.cl-logo-item:nth-child(5) {
    margin: 0;
}

.cl-logo-item img {
    width: 100px;
}

.pg-item {
    width: 50px;
}

.hire-us {
    background-color: var(--dark-blue);
}

.hire-us h4 {
    margin: 1rem auto;
}

.hire-us p {
    margin-bottom: 2rem;
}

.hire-us-text {
    margin: auto 4rem;
}


/* carousel for faces */

.carousel {
    width: 100%;
    max-width: 350px;
    margin: 2rem auto;
    position: relative;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
}

.carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    position: relative;
}

.quote {
    font-style: italic;
    margin-bottom: 20px;
    text-align: left;
}

.quote-person {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.name,
.job-title {
    font-size: .9rem;
    font-weight: bold;
    margin: 0;
}

.carousel-faces {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.face {
    margin: 0 10px;
}

.face img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid #fff; */
}

.active-face img {
    width: 50px;
    height: 50px;
    /* border: 3px solid #fff; */
}

.carousel-slide.active-slide {
    z-index: 1;
    display: block;
}

.face.active-face {
    font-size: 1.2em;
}

.hire-flex {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

hr {
    width: 200px;
    color: var(--gray);
}

.form {
    /* max-width: 500px; */
    text-align: left;
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 10px;
}

.form input,
select,
textarea {
    margin: 0.5rem;
    border-radius: 3px;
    border: none;
    border: 1px solid lightgray;
    /* padding: .5rem; */
}

input {
    /* height: 2rem; */
    /* width: 175px; */
    /* padding: 1rem; */
}

textarea {
    resize: none;
}

.option {
    height: 2rem;
    width: 175px;
}

.checkbox-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    /* font-size: .8rem; */
}

.checkbox-info label,
a {
    font-size: .8rem;
}

.form-links {
    margin-bottom: 1rem;
}

.form-btn {
    margin: auto;
}

.footer-main>hr {
    width: auto;
}

.footer-top {
    display: flex;
}

.middle-footer {
    display: flex;
}

.map {
    margin-right: auto;
}

.bottom-footer {
    text-align: center;
    font-size: .8rem;
}