:root {
    --white: #ffff;
    --font-white: #ecf2ff;
    --black: #0000;
    --gray: #808080;
    --gray-circle: #ecf2ff;
    --dark-gray: #4c4c4c;
    --blue: #2476fe;
    --dark-blue: #20335b;
    --btn-blue: #2476fe;
    --font-size-1: 1rem;
    --font-size-2: 2rem;
    --font-size-3: 4rem;
    --bg-gray: #f9fafe;
    --gray-text: #677688;
    --gray-text-2: #677787;
    --social-bg-gray: #677688;
    --form-bg-blue: #20335b;
}